{% extends 'base.html' %}
{% load static %}

{% block title %}Completed Tasks - Tasker{% endblock %}

{% block content %}
    <div class="bg-white shadow-lg rounded-lg p-6 w-full max-w-lg max-w-md mx-auto">
      <h1 class="text-2xl font-bold text-center mb-4 flex justify-center">Task Manager <img src="{% static 'img/notebook_1f4d3.png' %}" style="width:40px;"></h1>
      <!-- Task List -->
      <ul class="space-y-2">
        {% for task in tasks %}
              <li class="flex justify-between items-center bg-gray-200 p-2 rounded">
                  <div>
                      <span class="font-medium">{{task.task}}</span>
                      <p class="text-sm text-gray-500 flex"><img src="{% static 'img/tear-off-calendar_1f4c6.png' %}" style="width:25px;padding-right:5px;">Due: {{task.due_time|date:"Y/M/d"}}</p>
                  </div>

                  <div class="flex space-x-2">
                      <!-- Edit Button -->
                      <button onclick="openModal()" 
                         class="text-yellow-500 hover:text-yellow-700 p-1 rounded">
                         <img src="{% static 'img/pencil_270f-fe0f.png' %}" style="width:20px;">
                      </button>
                        {% include 'inc/edit_modal.html'%}
                      <!-- Delete Button -->
                      <form method="POST" action="{% url 'delete_task' task.id %}">
                          {% csrf_token %}
                          <button type="submit" class="text-red-500 hover:text-red-700 p-1 rounded">
                            <img src="{% static 'img/wastebasket_1f5d1-fe0f.png' %}" style="width:20px;">
                          </button>
                      </form>
                      <div class="flex items-center">
                        <form action="{% url 'incomplete_task' task.id %}" method="POST">
                          {% csrf_token %}
                          <input name="completed" value="true" hidden />
                          <button type="submit" class="text-green-500 hover:text-green-700 p-1 rounded">
                            <img src="{% static 'img/cross-mark-button_274e.png' %}" style="width:20px;">
                          </button>
                        </form>
                      </div>
                  </div>
              </li>
              {% endfor %}
              {% comment %} pagination for tasks  {% endcomment %}
              {% if is_paginated  %}
              <div class="flex items-center justify-center space-x-2 p-4">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-1 border rounded-lg bg-gray-200 hover:bg-gray-300">Previous</a>
                {%endif%}
                {% for num in paginator.page_range %}
                    {% if num == page_obj.number %}
                        <span class="px-3 py-1 border rounded-lg bg-blue-500 text-white">{{ num }}</span>
                    {%else%}
                        <a href="?page={{ num }}" class="px-3 py-1 border rounded-lg hover:bg-gray-300">{{ num }}</a>
                    {%endif%}
                {% endfor %}
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-1 border rounded-lg bg-gray-200 hover:bg-gray-300">Next</a>
                {%endif%}
              </div>
              {%endif%}
              <a href="{% url 'home' %}" class="text-blue-900 underline font-semibold p-1">Incompleted Tasks</a>
      </ul>
      </div>
    </div>
    
      <script>
        function openModal() {
            document.getElementById("editModal").classList.remove("hidden");
        }
    
        function closeModal() {
            document.getElementById("editModal").classList.add("hidden");
        }
    </script>
      {%endblock%}